@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table>
    <tr>
        <th>Date</th>
        <th>TemperatureC</th>
        <th>TemperatureF</th>
        <th>Summary</th>
    </tr>
@foreach (var weatherForecast in Model.WeatherForecasts)
{
    <tr>
        <td>@weatherForecast.Date.ToShortDateString()</td>
        <td>@weatherForecast.TemperatureC</td>
        <td>@weatherForecast.TemperatureF</td>
        <td>@weatherForecast.Summary</td>
    </tr>
}
    </table>