.card {
  width: 250px;
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}

.card-img {
  width: 50px;
  height: 100px;
  display: block;
}

.card-title {
  font-weight: bolder;
  font-size: smaller;
}

.card-subTitle {
  font-weight: bold;
}

.title-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
